#cityBtn {
    background-color: white;
    border-radius: 0px;
    color: black;
    margin-left: 10px;
    padding: 15px;
    border: 1px solid black;
    width: 200px;
    padding-bottom: 10px;
    text-align: left;

}

#cityBtn:hover {
    background-color: rgb(182, 178, 178);
    border: 1px solid black;
}

.container1 {
    background-color: rgb(232, 234, 237);
    padding-bottom: 100px;
    width: auto;
}

.container {
    margin-left: 20px;
    border-left: 1px solid rgb(182, 179, 179);
    border-top: 1px solid rgb(182, 179, 179);
    border-bottom: 1px solid rgb(182, 179, 179);
    margin-bottom: 20px;
}

.container-3 {
    display: inline-grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}

.grid{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.grid > div {
    background-image: linear-gradient(to bottom,#d2e0ee, #296be7);
    padding: 1.5 rem;
    border-radius: 1rem;
}

#citySearch {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#forecast {
    display: block;
}

.input-box {
    margin-bottom: 15px;
}

#header {
    width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.btn-group-vertical {
    margin-top:10px;
}

.green {
    background-color: green;
    display: inline-block;
    width: auto;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    width: auto;
}

.orange {
    background-color: orange;
    display: inline-block;
    width: auto;
}

.red {
    background-color: red;
    display: inline-block;
    width: auto;
}
